html, body, ul, li, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	list-style: none;
}
#header #title{
	font-family:"Times New Roman", Times, serif;
	padding-top: 15px;
	text-align:center;
	font-size: 30px;
}

#flash {
	background-color:white;
	float:none;
}
#menu {
	background: center left url(../images/final_flash.JPG) no-repeat;
	width: 400px;
}
#hotel {
	background:  center right url(../images/hotel.jpg) no-repeat;
	width: 100%;
	height: 250px;
	float:none;
}

#nav {
	/*background: url(images/header_c_bg.gif) repeat-x;*/
	margin-top:0px;
	margin-left:60px;
	position: relative;
	height: 0px;

}
#nav a {
	color: blue;
	font-size:13px;
	font-style:inherit;
	font-weight:bold;
	text-decoration: none;
	padding-top: -5px;
}
#nav a:hover {
	color: red;
	text-decoration: none;
}
#nav ul {	
	padding: -20px 0px -10px 0px;
	margin: 0px 0px 0px 70px;
	position: relative;
	z-index: 0;
}
/*#nav li:hover {
	background: left center url(../images/red_bullet.JPG) no-repeat;
	padding: 5px 0 5px 30px;
	margin: 0;
}*/
#nav li a {
	background: left center url(../images/blue_bullet.jpg) no-repeat;	
	height: 24px;
	width: 50px;
	padding-left: 30px;
	padding-top: -5px;	
}

#nav li{
	padding: 0px 0 2px 40x;
	margin: 0;
}
#nav li a:hover {
	background: left center url(../images/red_bullet.jpg) no-repeat;
	padding-left: 30px;
	font-size: 15px;
	height: 24px;
	width: 50px;	
}

#nav li#m0  { margin-left: -20px; 
			 margin-top: 5px;}			 
			 
#nav li#m1  { margin-left: 18px; }
#nav li#m2  { margin-left: 40px; }
#nav li#m3  { margin-left: 55px; }
#nav li#m4  { margin-left: 63px; }
#nav li#m5  { margin-left: 63px; }
#nav li#m6  { margin-left: 55px; }
#nav li#m7  { margin-left: 40px; }
#nav li#m8  { margin-left: 18px; }
#nav li#m9  { margin-left: -20px; }
#paper_field {
	margin-top: 10px; 
	margin-left: 10px;
	margin-right: 11px;
	text-align: center; 
	font-size: 20px;

}
#paper_field ul li {
	font-size: 13px;
	float:left;
	width: 160px;
	text-align:left;
	background: left center url(../images/tab_link_l.gif) no-repeat;
	padding-left: 15px;

}
#submit_paper span ul li {
	font-size: 13px;
	float:left;
	width: 170px;
	float:none;
}
#submit_paper span ul  .li_title {
	font-size: 13px;
	margin: 0 20 0 80px;
	padding-left: 15px;
	float:left;
	text-align:left;
	background: left center url(../images/diamond.png) no-repeat;
}
.head_bull_1{
	background: left center url(../images/tab_link_l.gif) no-repeat;
	padding-left: 10px;
	color:#192666;
	font-size:16px;	
}
.head_bull_2{
	background: left center url(../images/b_h_.png) no-repeat;
	padding-left: 13px;
}
.head_bull_3{
	background: left center url(../images/b_h_3.png) no-repeat;
	padding-left: 13px;
}

.two_column {
	margin-left: 0px;
	width: 720px; 
}
.left_column {
	width: 370px;
	float:left;
}
#right_column {
	width: 345px;
	float: none;
}

#content .article_no_bg {
	clear:both; 
	margin:0px; 
	padding:10px; 
}

#page {width:770px; min-height:1px; background:#FFF url("../design/bg_page_simple.gif") 0 0 repeat-y; _height:1px;}
#page-in {min-height:1px; padding:10px 0; background:url("../design/bg_page_in.jpg") 0 0 no-repeat; _height:1px;}
#table {
	border:none;
}

.sponsor {
	text-align:center;
	float:left;
	width: 200px;
	margin: 10px 20px 30px 10px;
	
}
.spon_logo {
	height: 50px;	
}
.spon_name {
	color: blue;
}
#commitee {

}
#commitee span{
	width: 140px;
}
.left_column span{
	width: 120px;
}
#right_column .value {
	width: 130px;
}

.header1 {
	text-align:center; 
	margin: 0px 0 20px 0; 
	font-size:18px; 
	color:#192666
}

.level_1{	
	margin: 10px 0px 20px 10px;
}
.level_1 div {
	padding-bottom: 5px;
}
.title_1{
	background: left center url(../images/level1.png) no-repeat;	
	padding-left: 20px;
	color:#000099; 
	font-size: 16px;
	font-weight:bold;
	text-decoration: underline;	
}

.level_2{	
	margin: 5px 0px 0px 30px;
}

.level_2 div{

}
.title_2{
	background: left center url(../images/level2.gif) no-repeat;	
	padding-left: 20px;
	font-size: 14px;
}


.level_3{	
	margin: 0px 0px 0px 40px;
}

.level_3 div {
	
}
.title_3 {
	background: left center url(../images/level3.png) no-repeat;	
	padding-left: 20px;
	font-size: 12px;
}

.title_31 {
	background: center center url(../images/level3.png) no-repeat;	
	padding-left: 20px;
	font-size: 12px;
	margin-left:-30px;
}

.level_4{	
	margin: 0px 0px 0px 50px;
}

.level_4 div {
	
}
.title_4 {
	background: left center url(../images/level4.png) no-repeat;	
	padding-left: 20px;
	font-size: 12px;
}


.level_5{	
	margin-left: 50px;
	font-size: 12px;
}

.note{
	background: left center url(../images/note1.png) no-repeat;
	padding-left: 18px;
	color:#007FFF;
}

.note1{
	background: center center url(../images/note1.png) no-repeat;
	padding-left: 18px;
	color:#007FFF;
	margin-left: -30px;
}
